/* Customizer css */
.demo
 {
  background-color: #31A3DD;
  border-color: #31A3DD;
 }
 .upgrade {
  background-color: #1d4467;
  border-color: #1d4467;
}
.review {
  background-color: #82b541;
  border-color: #1ec846;
}
.document{
  background-color: #ee591f;
  border-color: #ef9c28;
}
 
.demo, .upgrade, .review, .document, .service  {
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
 }  
 
.pro-box
{display:block;text-align:center; margin-bottom: 0px;}
.pro-vesrion 
{text-align:center; margin-top:15px;}

.pro-vesrion p{line-height:20px;}  
 
#accordion-section-health_pro_section .accordion-section-title, .accordion-section-title:after {background:#31A3DD; color:#fff;}
#accordion-section-health_pro_section .accordion-section-title:after {color:#fff;}
